<% provide(:title, 'show') %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @account %>
        <%= @account.name %>
      </h1>
      Email:<%= @account.email %><br/>
      Password: <%= @account.passsword %><br/>
      Activated: <%= @account.activated %>
    </section>

    <section class="stats">
      <%= render 'shared/stats' %>
    </section>

  </aside>
  <div class="col-md-8">
    <%= render 'shared/follow_form' if logged_in? %>
    <% if @account.microposts.any? %>
      <h3>Microposts (<%= @account.microposts.count %>)</h3>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts %>
    <% end %>
  </div>
</div>
